version: '3'
services:
  app:
    container_name: frontend_repostory
    build: .
    image: repostory-vue-app
    environment:
      - VITE_BASEURL_API=$VITE_BASEURL_API
      - VITE_CLIENT_ID=$VITE_CLIENT_ID
      - VITE_CLIENT_SECRET=$VITE_CLIENT_SECRET
    ports:
      - "4173:4173"